/* * {
  box-sizing: border-box;
}

body {
  align-items: center;
  background-color: #a4508b;
  color: #fff;
  display: flex;
  height: 100vh;
  justify-content: center;
} */

/* .cardContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  flex-wrap: wrap;
} */
/* 
.icons {
  height: 64px;
  width: 64px;
  flex: 1 0 44%;
}

.icons-selected {
  height: 64px;
  width: 64px;
  background-color: rgba(0, 233, 233, 0.5);
}

button.card:disabled {
  cursor: not-allowed;
  background-color: grey;
}

button.card-selected {
  margin: 25px;
  padding: 3.25em 5em;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  font-weight: 700;
  color: #382b22;
  text-transform: uppercase;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.card-selected-apple {
  background: red;
}

button.card-selected-kiwi {
  background: green;
}

button.card-selected-banana {
  background: yellow;
}

button.card-selected-peach {
  background: orange;
}

button.card-selected::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #f9c4d2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #a4508b;
  transform: translate3d(0, 0.75em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
} */

/* .game-start {
  padding: 1.25em 2em !important;
} */

/* Buttons Ref
https://codepen.io/cssparadise/pen/xxxadBp
*/
/* button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
}

button.card {
  margin: 25px;
  padding: 3.25em 5em;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  font-weight: 700;
  color: #382b22;
  text-transform: uppercase;
  background: #fff0f0;
  transform-style: preserve-3d;
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: #f9c4d2;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #a4508b;
  transform: translate3d(0, 0.75em, -1em);
  transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

button.card:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}

button.card:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #a4508b;
  transform: translate3d(0, 0.5em, -1em);
}

button.card:active {
  background: #ffe9e9;
  transform: translate(0, 0.75em);
}

button.card:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
} */
